.card {
    margin-bottom: 16px;
    padding: 16px;
    background: #d3d3d3; /* Adjust the background color */
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px; /* Adjust the width */
  }
  
  .productContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center; /* Center the cards */
  }
  
  h3 {
    margin-top: 0;
    margin-bottom: 4px;
    text-align: center; /* Center align the group name */
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 8px;
    text-align: left; /* Center align the student names */
  }
  