.header {
    height: 100vh;
    background-image: linear-gradient(rgba(90, 89, 89, 0.2),
    rgba(57, 56, 56, 0.2)),  url(../../public/collab1.jpg);
    background-size: cover;
    max-width: 100%;
    background-repeat: no-repeat;
    color: #f7f7f1;
    margin-bottom: 96px;
  }
  
  .headerContainer {
    height: 100%;
    display: flex;
    max-width: 100%;
    /* flex-direction: column; */
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 2rem;
  }
  
  .headerContainerInner {
    width: 50%;
    margin-bottom: 5rem;
    color: #f7f7f1;
  }
  
  .headerContainerInner h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.05;
    letter-spacing: -0.5px;
    margin-bottom: 1rem;
  }
  
  .headerContainerInner p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 2rem;
  }
  
  .btn:link,
  .btn:visited {
    font-size: 20px;
    font-weight: 600;
    background-color: #5e4c34;
    color: #f7f7f1;
    text-decoration: none;
    display: inline-block;
    padding: 16px 32px;
    border-radius: 12px;
  }
  
  .btn:hover,
  .btn:active {
    background-color: #f7f7f1;
    color: #5e4c34;
  }